ul .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.closeIcon {
  height: 13px !important;
  width: 13px !important;
  float: right !important;
  margin-left: 5px !important;
  cursor: pointer !important;
}

.chip {
  background-color: #e57373;
}

.searchWrapper {
  border: none !important;
}

.multiselect-error input {
  border-bottom: 1px solid #f44336 !important;
}
